<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <parameter name="sss" value="sss"/>

    <test name="Delete Visits">
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->